.fc {
    width: 500px;
    height: 300px;
    perspective: 1000px;
}

.fc-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.fc.flipped .fc-inner {
    transform: rotateY(180deg);
}

.fc-front, .fc-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.fc-front {
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fc-back {
    background-color: pink;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}